<h1>Interface Client : {{ client.nomprenom }}</h1>
<h3>Ajout d'un compte </h3>
{{ form_start(f) }}
<table>

    <tr>
        <td>RIB</td><td>{{ form_widget(f.RIB) }}</td>
    </tr>

    <tr>
        <td>solde</td><td>{{ form_widget(f.solde) }}</td>
    </tr>
    <tr>
        <td>{{ form_widget(f.save) }}</td>
    </tr>

</table>
{{ form_end(f) }}
<h3>Liste  des comptes :</h3>
<ul>
    {%  for i in c  %}

        <li>Rib:{{ i.rIB }}  </li>
        <li>solde  :{{ i.solde }}  </li>
        <a href="{{ path('Versement',{'rib':i.rIB }) }}">Verser une somme </a><br>
        <a href="{{ path('Supprimer',{'rib':i.rIB }) }}">Resilier le compte  </a>
        <br>
        ***************************
    {%  endfor %}
</ul>
